<h2>Assumptions</h2>
<ul>
  <li>We have added 20 customers from different location within 50 miles of radius.</li>
  <li>We have added 10 service engineers from different locations within 50 miles of radius.</li>
  <li>Each service engineer can do 9 jobs in a day from 9AM to 6PM. Each job will
    take 1 hour to finish. After one hour that ticket status will be set to Close automatically.</li>
  <li></li>
  <li></li>
</ul>
