<h3>Assumptions</h3>
<ul>
  <li>We have added 20 customers from different location within 50 miles of radius.</li>
  <li>We have added 10 service engineers from different locations within 50 miles of radius.</li>
  <li>Each service engineer can do 9 jobs in a day from 9AM to 7PM. Each job will
    take 1 hour to finish. After one hour that ticket status will be set to Close automatically.</li>
  <li>We assume that we have to manage whole allocation of slots for current day only.
    We have not handled any cases for future dates allocation.
  </li>
</ul>

<h3>How it works?</h3>
<ul>
  <li>When a customer raises a ticket, Algorithm searches for the nearby open tickets within a 3 Miles of radius.</li>
  <li>If any nearby tickets found then the algorithm check the time slots alloted to service engineer who is working on that nearby open ticket.</li>
  <li>If service engineer is available for any slot on that day then assign that slot for that ticket.</li>
  <li>If service engineer has no available slot for today then check for the next nearby ticket and the slots of that service engineer.</li>
  <li>If no service engineer is available from that nearby ticket then assign that ticket to any nearest unassigned service engineer.</li>
  <li>If no nearby ticket found then assign that ticket to nearest unassigned service engineer.</li>
</ul>
