<nav class="navbar navbar-inverse white-color" role="navigation">
  <a class="navbar-brand" href="#">GT Energy Service</a>
    <ul class="nav navbar-nav" style="float:right">
        <li>
          <%= link_to "ServiceEngineers", service_engineers_path %>
        </li>
        <li>
            <%= link_to "Dashboard", root_path %>
        </li>
    </ul>
</nav>
