<nav class="navbar navbar-inverse white-color" role="navigation">
  <%= link_to "GT Energy Service", root_path, class: "navbar-brand"%>
    <ul class="nav navbar-nav" style="float:right">
        <li> <%= link_to "Dashboard", root_path %> </li>
        <li> <%= link_to "ServiceEngineers", service_engineers_path %> </li>
        <li><%= link_to "How it works?", documentation_path %> </li>
    </ul>
</nav>
